[submodule "3rd Party/Libraries/spdlog"]
	path = 3rd Party/spdlog
	url = https://github.com/Konfus-dev/spdlog.git
[submodule "3rd Party/Libraries/glfw"]
	path = 3rd Party/glfw
	url = https://github.com/Konfus-dev/glfw.git
[submodule "3rd Party/Libraries/Coral"]
	path = 3rd Party/Coral
	url = https://github.com/Konfus-dev/Coral

